In [1]:
print("in"+"dia")

india

In [2]:
print("India"*3)

IndiaIndiaIndia

In [3]:
print("India"*-3)

In [4]:
print("India"=="india")

False

In [5]:
print("india"=="bharat")

False

In [6]:
print("india">"bharat")

True

In [7]:
print("india">"indiaa")

False

In [8]:
print("india">"India")

True

In [10]:
import builtins

In [12]:
ord("i")

105

In [20]:
ord("I")

73

In [15]:
ord("h")

104

In [17]:
ord("y")

121

In [18]:
ord("\t")

9

In [19]:
ord("\n")

10

In [22]:
s="python is a funny language"
x=len(s)
print(x)

26

In [23]:
print(len("india"))

5

In [24]:
print(max("india"))

n

In [25]:
print(min("india"))

a

In [28]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [29]:
for i in "python":
    print(i,type(i))

p <class 'str'>
y <class 'str'>
t <class 'str'>
h <class 'str'>
o <class 'str'>
n <class 'str'>

In [30]:
s="AbCdE"
print(s.lower())

abcde

In [31]:
s="AbCdE"
print(s.lower())
print(s.upper())
print(s.casefold())
print(s.capitalize())
print(s.swapcase())
print(s.title())
print(s.endswith("E"))
print(s.startswith("A"))

abcde
ABCDE
abcde
Abcde
aBcDe
Abcde
True
True

In [32]:
x=" india is a country "
print(x.replace(' ',''))
print(x.replace(" ","_"))
print(x.strip())
print(x.lstrip())
print(x.rstrip())

indiaisacountry
_india_is_a_country_
india is a country
india is a country
 india is a country

In [33]:
x=" india is a country "
print("in" in x)
print("age" in x)
print("try" in x)

True
False
True