In [1]:
# casting.

In [2]:
# int to float.

In [3]:
a=10

In [4]:
print(a,type(a))

10 <class 'int'>

In [5]:
b=float(a)

In [6]:
print(b)

10.0

In [7]:
type(b)

float

In [8]:
# int to string

In [9]:
print(a,type(a))

10 <class 'int'>

In [11]:
c=str(a)

In [12]:
print(c,type(c))

10 <class 'str'>

In [13]:
d="10"
print(type(d),d)

<class 'str'> 10

In [14]:
# string to float

In [15]:
print(float(d))

10.0

In [16]:
# string to int

In [20]:
print(int(d),type(int(d)))

10 <class 'int'>

In [21]:
# float to int

In [22]:
h=10.99

In [23]:
int(h)

10

In [24]:
# float to string

In [26]:
str(h)

'10.99'

In [27]:
# list, tuple, set, frozenset.

In [28]:
a=[1,2,3,4,5]

In [29]:
b= tuple(a)

In [30]:
print(type(b))

<class 'tuple'>

In [31]:
c=set(a)

In [32]:
print(c,type(c))

{1, 2, 3, 4, 5} <class 'set'>

In [33]:
d=frozenset(a)

In [34]:
print(d,type(d))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

In [35]:
list(d)

[1, 2, 3, 4, 5]

In [36]:
a="10.0"

In [37]:
b=float(a)

In [38]:
int(b)

10