In [1]:
import pymysql
conobj=pymysql.connect(host="localhost",user="root",password="root",database="1130to1",port=3306)
curobj=conobj.cursor()
count=curobj.execute('insert into emp values(107,"stark",25000,"bowling"),(108,"smith",30000,"batting")')
print(count)
conobj.commit()
conobj.close()

2

In [2]:
import pymysql
conobj=pymysql.connect(host="localhost",user="root",password="root",database="1130to1",port=3306)
curobj=conobj.cursor()
count=curobj.execute('insert into emp values(109,"pant",50000,"batting")')
print("row inserted")
conobj.commit()
conobj.close()

row inserted

In [3]:
import pymysql
try:
    conobj=pymysql.connect(host="localhost",user="root",password="root",database="1130to1",port=3306)
    curobj=conobj.cursor()
    count=curobj.execute('insert into emp values(109,"pant",50000,"batting")')
    print("row inserted")
except:
    print("somthing went wrong,kindly check your code")
finally:    
    conobj.commit()
    conobj.close()

somthing went wrong,kindly check your code

In [4]:
import pymysql
try:
    conobj=pymysql.connect(host="localhost",user="root",password="root",database="1130to1",port=3306)
    curobj=conobj.cursor()
    count=curobj.execute('insert into emp values(109,"pant",50000,"batting")')
    print("row inserted")
except Exception as e:
    print("somthing went wrong,kindly check your code",e)
finally:    
    conobj.commit()
    conobj.close()

somthing went wrong,kindly check your code (1062, "Duplicate entry '109' for key 'emp.PRIMARY'")

In [6]:
import pymysql
try:
    conobj=pymysql.connect(user="root",password="root",database="1130to1")
    curobj=conobj.cursor()
    eid=int(input("enter empid:"))
    en=input("enter name:")
    esal=float(input("enter empsal:"))
    ed=input("enter dept:")
    curobj.execute(f"insert into emp values({eid},'{en}',{esal},'{ed}')")
    print("row inserted")
except Exception as e:
    print("somthing went wrong",e)
finally:
    conobj.commit()
    conobj.close()

row inserted

In [7]:
import pymysql
try:
    conobj=pymysql.connect(user="root",password="root",database="1130to1")
    curobj=conobj.cursor()
    eid=int(input("enter empid:"))
    en=input("enter name:")
    esal=float(input("enter empsal:"))
    ed=input("enter dept:")
    curobj.execute("insert into emp values(%s,%s,%s,%s)",(eid,en,esal,ed))
    print("row inserted")
except Exception as e:
    print("somthing went wrong",e)
finally:
    conobj.commit()
    conobj.close()

row inserted

In [8]:
import pymysql
try:
    conobj=pymysql.connect(user="root",password="root",database="1130to1")
    curobj=conobj.cursor()
    eid=int(input("enter id:"))
    en=input("enter name:")
    esal=float(input("enter empsal:"))
    ed=input("enter dept:")
    curobj.execute("insert into emp values(%s,%s,%s,%s)",(eid,en,esal,ed))
    print("row inserted")
except Exception as e:
    print("somting went wrong",e)
finally:
    conobj.commit()
    conobj.close()

somting went wrong (1062, "Duplicate entry '109' for key 'emp.PRIMARY'")

In [9]:
import pymysql
try:
    conobj=pymysql.connect(user="root",password="root",database="1130to1")
    curobj=conobj.cursor()
    curobj.execute('insert into emp values(106,"nasm",12834,"kjdfn")')
    print("row inserted")
except Exception as e:
    print("somthing went wrong",e)
finally:
    conobj.commit()
    conobj.close()

somthing went wrong (1062, "Duplicate entry '106' for key 'emp.PRIMARY'")

In [10]:
import pymysql
try:
    conobj=pymysql.connect(user="root",password="root",database="1130to1")
    curobj=conobj.cursor()
    curobj.execute('insert into emp values(101,"dfncv",832784,"dkfn")')
    print("row inserted")
except Exception as e:
    print("something went wrong",e) 
finally:
    conobj.commit()
    conobj.close()

something went wrong (1062, "Duplicate entry '101' for key 'emp.PRIMARY'")

In [11]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(count)
conobj.close()

18

In [12]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')

In [13]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
row=curobj.fetchone()
print(row)
row=curobj.fetchone()
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
(101, 'zampa', 25000.0, 'bowling')
(102, 'monu', 34505.1, 'operator')

In [14]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')

In [16]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(5)
row=curobj.fetchone()
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
(106, 'maxwell', 30000.0, 'batting')

In [17]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(5)
row=curobj.fetchmany(3)
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
((106, 'maxwell', 30000.0, 'batting'), (107, 'stark', 25000.0, 'bowling'), (108, 'smith', 30000.0, 'batting'))

In [19]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(5)
row=curobj.fetchmany(3)
print(row)
row=curobj.fetchall()
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
((106, 'maxwell', 30000.0, 'batting'), (107, 'stark', 25000.0, 'bowling'), (108, 'smith', 30000.0, 'batting'))
((109, 'pant', 50000.0, 'batting'), (110, 'radha', 20000.0, 'cleaning'), (111, 'shyam', 30000.0, 'hr'), (211, 'virat kohli', 67780.1, 'account'), (224, 'bumhra', 46484.1, 'coding'), (226, 'hardik', 21195.1, 'operator'), (228, 'rahul', 35836.1, 'coding'), (600, 'cahal', 54470.1, 'account'), (601, 'chintu', 19864.1, 'coding'))

In [21]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(5,mode="absolute")
row=curobj.fetchmany(3)
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
((105, 'bhola', 43822.1, 'account'), (106, 'maxwell', 30000.0, 'batting'), (107, 'stark', 25000.0, 'bowling'))

In [22]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(5,mode="relative")
row=curobj.fetchmany(3)
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
((106, 'maxwell', 30000.0, 'batting'), (107, 'stark', 25000.0, 'bowling'), (108, 'smith', 30000.0, 'batting'))

In [23]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(-1,mode="relative")
row=curobj.fetchmany(3)
print(row)
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
((100, 'rohit', 55005.5, 'batsman'), (101, 'zampa', 25000.0, 'bowling'), (102, 'monu', 34505.1, 'operator'))

In [24]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
count=curobj.execute("select * from emp")
print(f"total rows:{count}")
row=curobj.fetchone()
print(row)
curobj.scroll(-1,mode="relative")
row=curobj.fetchmany(3)
print(list(row))
conobj.close()

total rows:18
(100, 'rohit', 55005.5, 'batsman')
[(100, 'rohit', 55005.5, 'batsman'), (101, 'zampa', 25000.0, 'bowling'), (102, 'monu', 34505.1, 'operator')]

In [1]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("create table t1(empid int,empname varchar(10),empsal float)")
conobj.close()

In [4]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("insert into t1 values(101,'raj',635473)")
print("row inserted")
conobj.commit()
conobj.close()

row inserted

In [5]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("delete from t1 where empname='raj'")
print("row deteted")
conobj.commit()
conobj.close()

row deteted

In [6]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("drop table t2")
print("table deteted")
conobj.close()

table deteted

In [8]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("select * from emp where empsal>25000")
for i in curobj:
    print(i)
conobj.close()

(100, 'rohit', 55005.5, 'batsman')
(102, 'monu', 34505.1, 'operator')
(103, 'ishan', 25188.1, 'coding')
(104, 'surya', 27850.1, 'coding')
(105, 'bhola', 43822.1, 'account')
(106, 'maxwell', 30000.0, 'batting')
(108, 'smith', 30000.0, 'batting')
(109, 'pant', 50000.0, 'batting')
(111, 'shyam', 30000.0, 'hr')
(211, 'virat kohli', 67780.1, 'account')
(224, 'bumhra', 46484.1, 'coding')
(228, 'rahul', 35836.1, 'coding')
(600, 'cahal', 54470.1, 'account')

In [10]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("select * from emp where empsal>25000")
print(f"empid\tempname\tempsal\tdept")
for eid,en,es,ed in curobj:
    print(f"{eid}\t{en}\t{es}\t{ed}")
conobj.close()

empid	empname	empsal	dept
100	rohit	55005.5	batsman
102	monu	34505.1	operator
103	ishan	25188.1	coding
104	surya	27850.1	coding
105	bhola	43822.1	account
106	maxwell	30000.0	batting
108	smith	30000.0	batting
109	pant	50000.0	batting
111	shyam	30000.0	hr
211	virat kohli	67780.1	account
224	bumhra	46484.1	coding
228	rahul	35836.1	coding
600	cahal	54470.1	account

In [12]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.execute("select * from emp where empsal>25000")
print(f"empid\tempname\tempsal\tdept")
for eid,en,es,ed in curobj:
    print(f"{eid}\t{en}\t{es}\t{ed}")
conobj.close()

empid	empname	empsal	dept
100	rohit	55005.5	batsman
102	monu	34505.1	operator
103	ishan	25188.1	coding
104	surya	27850.1	coding
105	bhola	43822.1	account
106	maxwell	30000.0	batting
108	smith	30000.0	batting
109	pant	50000.0	batting
111	shyam	30000.0	hr
211	virat kohli	67780.1	account
224	bumhra	46484.1	coding
228	rahul	35836.1	coding
600	cahal	54470.1	account