In [18]:
print("hello world")

hello world

In [19]:
print("it is Raju")

it is Raju

In [20]:
print("apple","banana","pine apple")

apple banana pine apple

In [21]:
print("apple","banana","pine apple",sep=" 100 ")

apple 100 banana 100 pine apple

In [22]:
print("apple","banana","pine apple",sep=" india ")

apple india banana india pine apple

In [23]:
print("apple","banana","pine apple",sep=" india ",end="\n")

apple india banana india pine apple

In [24]:
print("apple","banana","pine apple",sep=" india ",end="100")

apple india banana india pine apple100

In [25]:
input("kindly enter your 4 digit pin")

'2004'

In [26]:
print("apple","banana","pine apple",sep=" india ",end=" $$$ ")
print("apple","mango","banana",sep=" ")

apple india banana india pine apple $$$ apple mango banana

In [27]:
print("apple","banana","pine apple",sep=" india ",end=" \n")
print("apple","mango","banana",sep=" india ")

apple india banana india pine apple
apple india mango india banana

In [28]:
print("this is  \n krishna")

this is
 krishna

In [29]:
#India apple 
#india banana
#india pineapple india

In [36]:
print("India apple","banana","pineapple",sep="\nIndia ",end=" india ")

India apple
India banana
India pineapple india