In [2]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [4]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
for i in range(1,6):
    for k in range(5,i,-1):
        print(" ",end="")
    for j in range(i):
        print(j+1,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [2]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(i):
        print(k+1,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [8]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,6):
    for j in range(i):
        print(chr(64+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [12]:
for i in range(1,6):
    for j in range(i):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [15]:
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
# 1      1       1                  1            1   54321   12345
# 22     12      2 3                21          12   4321     1234
# 333    123     4 5 6              321        123   321       123
# 4444   1234    7 8 9 10           4321      1234   21         12
# 55555  12345   11 12 13 14 15     54321    12345   1           1

In [16]:
for i in range(1,6):
    for j in range(i):
        print(j,end="")
    print()

0
01
012
0123
01234

In [17]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [20]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end="")
    print()

1
12
123
1234
12345

In [22]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
for i in range(1,6):
    for j in range(i):
        print(1+j,end=" ")
    print()

0 1
0 1 1 2
0 1 1 2 2 3
0 1 1 2 2 3 3 4
0 1 1 2 2 3 3 4 4 5

In [3]:
for i in range(1,6):
    for j in range(0,11,2):
        print(j,j+1,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11
0 1 2 3 4 5 6 7 8 9 10 11

In [4]:
for i in range(1,6):
    for j in range(0,10,2):
        print(1+j,end=" ")
    print()

1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9

In [5]:
for i in range(1,6):
    for j in range(0,10,2):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
for i in range(1,6):
    for j in range(i):
        print(i,i*2-1,end=" ")
    print()

1 1
2 3 2 3
3 5 3 5 3 5
4 7 4 7 4 7 4 7
5 9 5 9 5 9 5 9 5 9

In [8]:
for i in range(1,6):
    for j in range(i):
        print(j,j*2-1,end=" ")
    print()

0 -1
0 -1 1 1
0 -1 1 1 2 3
0 -1 1 1 2 3 3 5
0 -1 1 1 2 3 3 5 4 7

In [11]:
current_number = 1
stop = 2
rows = 4
for i in range(rows):
    for j in range(1,stop):
        print(current_number,end=" ")
        current_number += 1
    print()
    stop += 1

1
2 3
4 5 6
7 8 9 10

1
32
654
10987

In [1]:
current_number = 1
stop = 2
rows = 5
for i in range(rows):
    for j in range(1,stop):
        print(current_number,end=" ")
        current_number += 1
    print()
    stop += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [2]:
current_number = 1
stop=2
for i in range(5):
    for j in range(1,stop):
        print(current_number,end=" ")
        current_number += 1
    print()
    stop += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
y = 1
x=2
for i in range(4):
    for j in range(1,x):
        print(y,end=" ")
        y += 1
    print() 
    x += 1

1
2 3
4 5 6
7 8 9 10

1
32
654
10987

In [34]:
x=1
y=2
for i in range(2,6):
    for j in range(x,y):
        y-=1
        print(y,end=" ")
    print(" ")
    x=y
    y+=i
    y=y

1
2 1
3 2 1
4 3 2 1

In [36]:
x=1
y=2
z=y
for i in range(2,6):
    for j in range(x,y):
        z-=1
        print(z,end=" ")
    print(" ") 
    x=y
    y+=i  
    z=y

1
3 2
6 5 4
10 9 8 7

In [29]:
n=4
count=10 
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(count,end=" ")
        count=count-1
    print()

10 9 8 7
6 5 4
3 2
1

In [28]:
y = 1
x=2
for i in range(4):
    for j in range(1,x):
        if y>=x:
            print(y,end=" ")
            y -= 1
        else:
            print(y,end=" ")
            y += 2
    print() 
    x += 1

1
3 2
4 3 5
4 6 5 4

In [4]:
for i in range(1,11,2):
    for j in range(i):
        print(i,end=" ")
        i-=1
    print()

1
3 2 1
5 4 3 2 1
7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [5]:
# 1
# 21
# 321
# 4321
# 54321
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

In [6]:
#     1
#    12
#   123
#  1234
# 12345
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    print()

        1
      21
    321
  4321
54321

In [7]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [8]:
#     1 
#    12
#   123
#  1234
# 12345
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")          
    for k in range(i):
        print(k+1,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [9]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(i):
        print(k+1,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [10]:
# 54321
# 4321
# 321
# 21
# 1
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1

In [11]:
# 12345
#  1234
#   123
#    12
#     1
for i in range(1,6):
    for j in range(1,7-i):
        print(j,end="")
    print()

12345
1234
123
12
1

In [12]:
for i in range(1,6):
    for k in range(i):
        print(" ",end="")
    for j in range(1,7-i):
        print(j,end="")
    print()

 12345
  1234
   123
    12
     1

In [13]:
# 1       5       12345     54321
# 21      45      2345       5432
# 321     345     345         543
# 4321    2345    45           54
# 54321   12345   5             5

In [14]:
for i in range(1,6):
    for j in range(i+1,1,-1):
        print(j-1,end="")
    print()

1
21
321
4321
54321

In [15]:
for i in range(1,6):
    for j in range(6-i,6):
        print(j,end="")
    print()

5
45
345
2345
12345

In [16]:
for i in range(0,6):
    for j in range(i+1,6):
        print(j,end="")
    print()

12345
2345
345
45
5

In [17]:
for i in range(0,6):
    for k in range(i):
        print(" ",end="")
    for j in range(5,i,-1):
        print(j,end="")
    print()

54321
 5432
  543
   54
    5