In [1]:
# 1
# 22
# 333
# 4444
# 55555
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [1]:
for i in range(1,10,2):
    for j in range(0,i,2):
        print(i,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [12]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [18]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5 5 5 5 5
4 4 4 4 
3 3 3
2 2
1

In [4]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [2]:
# 1
# 12
# 123
# 1234
# 12345
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15
x=1
y=2
for i in range(5):
    for j in range(1,y):
        print(x,end=" ")
        x+=1
    print()
    y+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1]:
# 1
# 2 6
# 3 7 10
# 4 8 11 13
# 5 9 12 14 15
for i in range(5):
    x=i+1
    y=4
    for j in range(i+1):
        print(x,end=" ")
        x=x+y
        y=y-1
    print("")

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [9]:
for i in range(1,6):
    for j in range(i):
        print(i-1,end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [11]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
# 1
# 21
# 321
# 4321
# 54321
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

In [6]:
#     1
#    12
#   123
#  1234
# 12345
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    print()

    1
   12
  123
 1234
12345

In [7]:
# 54321
# 4321
# 321
# 21
# 1
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1

In [9]:
# 12345
#  1234
#   123
#    12
#     1
for i in range(1,6):
    for k in range(i):
        print(" ",end="")
    for j in range(1,7-i):
        print(j,end="")
    print()

 12345
  1234
   123
    12
     1

1
32
654
10987

In [ ]:
for i in range(1,5):
    for j in range():

In [10]:
# 5
# 45
# 345
# 2345
# 12345
for i in range(1,6):
    for j in range(6-i,6):
        print(j,end="")
    print()

5
45
345
2345
12345

In [11]:
# 12345
# 2345
# 345
# 45
# 5
for i in range(0,6):
    for j in range(i+1,6):
        print(j,end="")
    print()

12345
2345
345
45
5

In [12]:
# 54321
#  5432
#   543
#    54
#     5
for i in range(0,6):
    for k in range(i):
        print(" ",end="")
    for j in range(5,i,-1):
        print(j,end="")
    print()

54321
 5432
  543
   54
    5