In [ ]:
for i in range(1,6):
    for j in range(i,):

In [3]:
for i in range(6,-1,-1):
    for space in range(6,i):
        print(" ",end="")
    for j in range(i,-1,-1):
        print('*',end=" ")
    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
for i in range(1,6):
    for j in range(i-1,0,-1):
        print(" ",end="")
    for k in range(1,7-i):
        print('*',end="")
    for p in range(5,i,-1):
        print('*',end="")
    print()

*********
 *******
  *****
   ***
    *

In [1]:
# x=5
# y=1
for i in range(1,6):
    for j in range(i-1,0,-1):
        print(" ",end="")
    for k in range(1,7-i):
        print('*',end="")
    for p in range(5,i,-1):
        print('*',end="")
        # y+=1
    print()
    # x-=1
    # y=1

*********
 *******
  *****
   ***
    *

In [4]:
x=5
y=1
for i in range(1,6):
    for j in range(i-1,0,-1):
        print(" ",end="")
    for k in range(1,7-i):
        print('*',end="")
    for p in range(5,i,-1):
        print('*',end="")
        y+=1
    print()
    x-=1
    y=1

*********
 *******
  *****
   ***
    *

123456789
 1234567
  12345 
   123
    1

In [13]:
x=5
y=1
for i in range(1,6):
    for j in range(i-1,0,-1):
        print(" ",end="")
    for k in range(1,7-i):
        print(k,end="")
    for p in range(5,i,-1):
        print(x+y,end="")
        y+=1
    print()
    x-=1
    y=1

123456789
 1234567
  12345
   123
    1

6789
567
45
3

In [11]:
x=5
y=1
for i in range(1,5):
    for j in range(5,i,-1):
        print(x+y,end="")
        y+=1
    print()
    x-=1
    y=1

6789
567
45
3

In [2]:
for i in range(1,5):
    for j in range(5,i,-1):
        print(5+i,end="")
        i+=1
    print()

6789
789
89
9

In [12]:
x=5
y=1
for i in range(1,6):
    for j in range(i-1,0,-1):
        print(" ",end="")
    for k in range(1,7-i):
        print(k,end="")
    for p in range(5,i,-1):
        print(x+y,end="")
        y+=1
    print()
    x-=1
    y=1

123456789
 1234567
  12345
   123
    1

In [1]:
for i in range(1,6):
    for j in range(0,5-i):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [2]:
x=1
y=2
for i in range(5):
    for j in range(1,y):
        print(x,end=" ")
        x+=1
    print()
    y+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [10]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end="")
    for k in range(2*i+1):
        print(k+1,end="")
    print()

     1
    123
   12345
  1234567
 123456789

    1
   123
  12345
 1234567
123456789

In [9]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    for q in range(i-1,0,-1):
            print(i+1,end="")
            i+=1
    print()

    1
   123
  12345
 1234567
123456789

In [25]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    for q in range(i-1):
        print(i+2,end="")
    print()

    1
   124
  12355
 1234666
123457777

In [24]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    for q in range(i-1):
        print(q+2,end="")
    print()

    1
   122
  12323
 1234234
123452345

In [23]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    for q in range(i-1,0,-1):
        print(q+2,end="")
    print()

    1
   123
  12343
 1234543
123456543

In [14]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end="")
    for k in range(2*i+1):
        print(k+1,end="")
    print()

     1
    123
   12345
  1234567
 123456789

In [11]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    print()

    1
   12
  123
 1234
12345

    1
   12
  123
 1234
12345

In [7]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(i):
        print(k+1,end="")
    print()

    1
   12
  123
 1234
12345

In [6]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(i):
        print(k+1,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

1
12
123
1234
12345

In [5]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
print("1")
print("2 2")
print("3 3 3")
print("4 4 4 4")
print("5 5 5 5 5")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [31]:
i=1
while i<6:
    if i==1:
     print(i)
    elif i==2:
     print(i,i)
    elif i==3:
     print(i,i,i)
    elif i==4:
      print(i,i,i,i)
    elif i==5:
     print(i,i,i,i,i)
    i+=1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [33]:
for i in range(1,6):
  for j in range(i):
    print(i, end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
for i in range(1,6):
  for a in range(i):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
for i in range(1,6):
  for a in range(i):
    print(i,end=" ")

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [4]:
for i in range(1,6):
  for a in range(i):
    print(i)

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

In [6]:
for i in range(1,6):
  for a in range(i):
    print(i,sep=" ")
  print(" ")

1

2
2

3
3
3

4
4
4
4

5
5
5
5
5

In [7]:
for i in range(1,6):
  for a in range(i):
    print(i,sep=" ")

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

11111
2222
333
44
5

In [3]:
for i in range(1,6):
    for j in range(6,i,-1):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [4]:
for i in range(1,6):
    for j in range(i,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5