In [3]:
d={}
for i in range(3):
    k=input("enter key:")
    v=input("enter value:")
    d[k]=v
print(d)

{'a': 'apple', 'b': 'bol', 'c': 'cat'}

In [6]:
d={}
roll={1,2,3,4}
name=['a','b','c','d']
for i,j in zip(roll,name):
    d[i]=j
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [12]:
d1={'a':'apple','b':'ball'}
d2={'a':'android','i':'iphone'}
# d2.update(d1)
# print(d2)
d3={}
d3.update(d1)
d3.update(d2)

print(d3)

{'a': 'android', 'b': 'ball', 'i': 'iphone'}

In [15]:
# creating dict using expression and for in a single stmt.
d={i:i*i for i in range(1,5)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
d={'a':'apple','b':'ball','c':'cat'}
v="ball"
for i in d:
    if d[i]==v:
        print(v)

ball

In [1]:
import pymysql
conobj=pymysql.connect(user="root",password="root",database="1130to1")
curobj=conobj.cursor()
curobj.callproc("p1_addmul",(10,4,None,None))
curobj.execute("select @_p1_addmul_2,@_p1_addmul_3")
print(curobj.fetchone())
conobj.close()
# print("db created")

(14, 40)

In [2]:
x=5
def add():
    x=3
    x=x+5
    print(x)
add()
print(x)

8
5

In [10]:
for i in range(1,6):
    for k in range(5,i,-1):
        print(" ",end="")
    for j in range(i):
        print(j+1,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [12]:
for i in range(1,6):
    for k in range(5,i,-1):
        print(" ",end=" ")
    for j in range(i):
        print(j+1,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [2]:
def players():
    print("dk")
    print("sonu")
    print("monu")
def city():
    print("noida")
    print("bihar")
players()
city()

dk
sonu
monu
noida
bihar

In [1]:
def players():
    print("dk")
    print("sonu")
    print("monu")
def city():
    print("noida")
    print("bihar")
players()
city()

dk
sonu
monu
noida
bihar

In [3]:
def mul():
    a=int(input("enter 1st no"))
    b=int(input("enter 2nd no"))
    print(a*b)
mul()

16

In [4]:
a=int(input("enter 1st no"))
b=int(input("enter 2nd no"))
def mul():
    print(a*b)
def add():
    print(a+b)
mul()
add()

168
59

In [5]:
def mul():
    a=3
    b=4
    print(a*b)
mul()

12