### 4th highest number nikalne ka quary.
ans..select * from emp where empsal=(select max(empsal) from emp where empsal<(select max(empsal) from emp where empsal<(select max(empsal) from emp where empsal<(select max(empsal) from emp) order by empsal desc)));

### 3rd highest number niklne ka quary.
ans. select * from emp where empsal=(select max(empsal) from emp where empsal<(select max(empsal) from emp where empsal<(select max(empsal) from emp) order by empsal desc));

### 2nd highest number niklne ka quary.
ans.select * from emp where empsal=(select max(empsal) from emp where empsal<(select max(empsal) from emp) order by empsal desc);

### 1st highest number niklne ka quary.
ans. select * from emp where empsal=(select max(empsal) from emp order by empsal desc);

### koi do table add karne ka quary(join).
ans.select * from pnb inner join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### left join syntex;
ans.  select * from pnb left join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### right join
ans.  select * from pnb right join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### full join
ans.  select * from pnb left join sbi on pnb.pnb_adhar=sbi.sbi_adhar union  select * from pnb right join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### natural join
ans. natural join ka use ham tab karte hai jab do table ke collumn name and data type dono same ho.
syntex-->select * from pnb natural join sbi;
  natural join jeetne bhi common collumn ha sab common collumn ki value same hai to use karte hai natural join ka.

### cross join
ans. cross join se table1 ka sara data table2 se compare hota hai.
syntex--> select * from pnb cross join sbi;

### self join
ans. ek he table par jab join lagana ho tab ham self join lagate hai.
syntex-->select * from emp as e1 inner join emp as e2 on e1.empsal=e2.empsal;
      -->select * from emp as e1 inner join emp as e2 on e1.empsal=e2.empsal and e1.dept!=e2.dept;

### index 
ans. index hame taab lagana chaheye jab hamara table ban gaya ho agar ham table me insert/delete/drop command use karna chate hai to index command nahi use karna chaheye.
--> index hamara memory consumption ko badha deta hai.
--> index select query with where ke execution ko badhane ke liye use karte hai. 
#### two type of index
Non clusted index-->ham jo bhi index banate hai wo bydefault non cluster index ban jata hai.
cluster index-->yah index my sql dwora banaya jata hai us table par banata hai jis pe par pahle se unique key or primary key laga hota hai.
cluster index hamare memory consumption se bachata hai.

### koi do table me common table ko add karne ka quary.
ans.  select pnb.pnb_adhar as adhar,pnb.pnb_acn,pnb.pnb_bal,sbi.sbi_acn,sbi.sbi_bal from pnb inner join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### koi do table ke balance ko add karne ka quary.
ans. select pnb.pnb_adhar as adhar,pnb.pnb_acn,pnb.pnb_bal,sbi.sbi_acn,sbi.sbi_bal,pnb.pnb_bal+sbi.sbi_bal as total from pnb inner join sbi on pnb.pnb_adhar=sbi.sbi_adhar;

### How to define business(application) logic?
### How to excute set of multiple sql queries at once?
ans. PL/SQL 
   - user define(stored) functions
   - stored procedures
   - triggers
   - loops
   - if else condition
   - exception handling
      etc.

### ;-->this symbol is known as delimiter.
### kya ham delimiter ko badal sakte hai.
ans. ha   syntex->delimiter $

### sql me comment ham kase banate hai;
ans. syntex-->select * from emp; -- it will fetch all cols & rows(end of query comment)
     syntex-->select empsal,dept from /*khuchbhi*/ emp;(medial of query comment) yah comment * ke sath nahi chalta hai.

### function
  - it is a name block that contain set of stmts and these stmts can be executed at once whenever required.
  - it returns a value(we can not skip return value and we can not return morethan 1 value.)